.wrap {
  max-width: 900px;
  margin: 0 auto 40px auto;
}

.title {
  margin-top: 28px;
  font-size: 2rem;
  font-weight: bold;
  color: #191d2b;
  border-bottom: 4px solid #e73d2a;
  display: inline-block;
  padding-bottom: 4px;
}

.desc {
  color: #222;
  font-size: 1.12rem;
  margin-top: 18px;
  margin-bottom: 26px;
  line-height: 1.6;
}

.tableWrap {
  margin: 26px 0 22px 0;
  border-radius: 14px;
  box-shadow: 0 3px 23px #cdd2fd23;
  background: #fff;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 470px;
  border-radius: 13px;
  border-collapse: collapse;
  font-size: 1.07rem;
  box-shadow: 0 1px 6px #d1deeb24;
}

.table thead th {
  background: #e0eeff;
  color: #181b25;
  padding: 10px 18px;
  font-weight: bold;
}

.table td {
  background: #fff;
  padding: 11px 18px;
  border-top: 1px solid #ebf0fa;
  color: #2b2f38;
}

.table tr:nth-child(even) td {
  background: #f8fafc;
}
