/* DoubtForm.module.css */



 
.formWrapper {
  background: #ea597b;
  border-radius: 16px;
  padding: 24px;
  max-width: 1000px;
  margin: auto;
}

.title {
  color: #fff;
  margin-bottom: 4px;
}

.subtitle {
  color: #ffe924;
  font-weight: 600;
  margin-bottom: 20px;
}

.input,
.select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.flexRow {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.otpBtn {
  margin-left: 8px;
  background: #f45d23;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

.submitBtn {
  width: 100%;
  background: #f45d23;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}
