 .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: #fff;
  border-bottom: 2px solid #d4eaf7;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  margin-right: 12px;
}

.brand {
  background: #a0143f;
  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
}

.nav {
  flex: 1;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.link {
  margin: 0 16px;
  color: #204060;
  text-decoration: none;
  font-weight: 500;
}

.cta {
  background: #ff671b;
  color: #fff;
  font-weight: bold;
  padding: 6px 6px ;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .header {
    padding: 12px 10px;
    flex-direction: row;
    align-items: flex-start;
     gap: 8px;
  }
  .nav {
    display: none;
    margin-left: 0;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px 6vw;
  }
  .cta {
    width: 20%;
    margin-top: 1px;
  }
} 
